.comment {
/*background-color: #DBDBDB;*/
padding: 10px;
border: 1px solid black;
margin-left: 25px;
margin-right: 25px;
margin-top: 25px;
margin-bottom: 25px;
border-radius: 5px;
font-style: italic;
font-size : 13px;
  color: DarkRed;
}

.boxBorder {
 border: 2px solid #990066;
 border-radius: 5px;
 font-style: italic;
 padding: 10px;
 outline: #990066 solid 5px;
 outline-offset: 5px;
 }
 
 .watch-out {
  background-color: DarkBlue;
  border: 3px solid red;
  font-weight: bold;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

code {
    font-family: Monaco, monospace;
    font-size: $base-font-size;
    line-height: 100%;
    background-color: #eee;
    padding: 0.2em;
    letter-spacing: -0.05em;
    word-break: normal;
    /border-radius: 5px;/
  }



pre code {
    border: none;
    background: none;
    font-size: $base-font-size * 0.875;
    line-height: 1em;
    letter-spacing: normal;
    word-break: break-all;
  }