.comment {
/*background-color: #DBDBDB;*/
padding: 10px;
border: 1px solid black;
margin-left: 25px;
border-radius: 5px;
font-style: italic;
font-size : 13px;
  color: DarkRed;
}
.boxBorder {
 border: 2px solid #990066;
 border-radius: 5px;
 font-style: italic;
 padding: 10px;
 outline: #990066 solid 5px;
 outline-offset: 5px;
 margin-bottom: 25px;
 }
 
 .watch-out {
  background-color: DarkBlue;
  border: 3px solid red;
  font-weight: bold;
}